<div class="col-12-xs alpha">
	<!-- DESCRIPTION -->
		<h2> Illumination Aesthetics </h2>
		<p class='lead'>
			<em> 
				Exposing Light as Creative Material
			</em> 
			<address>
			  <strong>Cesar Torres</strong><br>
			  cearto@berkeley.edu <br>
			</address>
			<address>
			  <strong>Caroline Chen, Jacqueline Garcia, Ryan Kapur, Jasper O'Leary, Niraj Rao </strong><br>
			</address>
			<address>
			  <strong>Eric Paulos</strong><br>
			  paulos@berkeley.edu <br>
			</address>
			
		</p>
		<br>
		<%= link_to tool_designer_path, :class => "btn btn-primary btn-lg" do %>
			<span class="glyphicon glyphicon-edit"> </span> Illumination Design Tool
		<% end %>
		</p>
</div>

